* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

@keyframes headingAnimation {
    0% {
        transform: translate(0%, -300%) rotate(180deg);
        letter-spacing: .01em;
    }

    80% {
        transform: translate(0%, 50%);
        letter-spacing: 0.5em;
    }

    100% {
        transform: translate(0%, 0%) rotate(0deg);
        letter-spacing: 0.1em;
    }
}

body {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);
}

.container {
    flex-direction: column;
    height: 72vh;
    width: 75vw;
    border-radius: 10px;
    padding: 0 0 20px 0;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.265);
}

.top {
    height: 24vh;
    width: 100%;
    flex-direction: column;
}

#heading {
    position: relative;
    animation: headingAnimation 2s ease-in-out forwards;
    font-size: 4em;
    color: rgb(0, 0, 0, 0.7);
    letter-spacing: 0.1em;
    border: 2px solid rgba(0, 0, 0, 0.397);
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
}

#chances {
    position: relative;
    letter-spacing: 0.1em;
    color: rgb(0, 0, 0, 0.7);
    border: 2px solid rgba(0, 0, 0, 0.397);
    animation: 2s ease-in-out forwards;
    border-radius: 15px;
    font-size: 2em;
    padding: 10px;
    opacity: 0;
}

.middle {
    width: 100%;
    height: 24vh;
    font-size: 10rem;
    color: rgba(255, 255, 255, 0.705);
}

.middleIcons {
    width: 150px;
    position: absolute;
    user-select: none;
    fill: white;
    transition: opacity 200ms;
    opacity: 0;
}

.left {
    width: 24vw;
    height: 100%;
}

.center {
    width: 24vw;
    height: 100%;
}

.centerIcons {
    width: 100px;
    fill: rgba(255, 255, 255, 0.3);
}

.right {
    width: 24vw;
    height: 100%;
}

.bottom {
    height: 24vh;
    width: 100%;
}

.iconContainer {
    display: flex;
    align-items: center;
    width: 16vw;
    justify-content: space-between;
}

.bottomIcons {
    width: 60px;
    cursor: pointer;
    user-select: none;
    fill: #F473B9;
    filter: drop-shadow(5px 5px 10px black);
    transition: fill 100ms, transform 200ms;
}

.bottomIcons:hover {
    transform: translateY(-20px);
}

.bottomIcons:active {
    fill: rgb(173, 23, 211);
}

.footer {
    width: 54vw;
    font-size: 2rem;
}

#YourScore,
#ComScore {
    width: 24vw;
}

#reset {
    height: 62px;
    width: 199px;
    padding: 6px 17px;
    font-size: 2rem;
    background-color: transparent;
    cursor: pointer;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}